body {
    font-family: Arial, sans-serif;
    background-color: #aec5d8;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid rgb(223, 178, 235);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #337ab7;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #b5c8da;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 23px;
    cursor: pointer;
}

button:hover {
    background-color: #286090;
}

.error {
    color: rgb(255, 153, 0);
    text-align: center;
    margin-top: 10px;
}
